* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Merriweather", serif;
}
.container {
    width: 1320px;
    margin: 0 auto;
    height: 600px;
    background-image: url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
}
.banner-title {
    color: #fff;
    padding-top: 140px;
    text-align: center;
}
.banner-title h3 {
    font-size: 32px;

    font-weight: 400;
}
.banner-title h1 {
    padding-top: 15px;
    font-size: 80px;
    font-weight: 900;
}
/* discount section */
.all-categories {
    margin-top: 120px;
}
.discount {
    text-align: center;
    color: #f00;
    font-family: "Inter", sans-serif;
}
.discount h1 {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 15px;
}
.categories h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
.new-year-pic {
    text-align: center;
}
.new-year-pic img {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
/* welcome party seation */
.welcome-midnight-party {
    width: 1320px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 150px;
}
.welcome-text h1 {
    margin-left: 130px;
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.welcome-text p {
    margin-left: 130px;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.welcome-text button {
    margin-left: 160px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    background-color: transparent;
    border: none;
    
}
.party-img img{
    display: flex;
    width: 320px;
    height:460px;
    margin-right: 120px;
    justify-content: center;

}
